.list ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
.list li {
    list-style-type: none;
    border: 2px solid #4b679e;
    margin: 0 5px 10px 5px;
    padding: 0px 10px 40px 10px;
    width: 200px;
    height: 400px;
  }
  p {
    font-size: 11px;
  }
.list {
    display: flex;
    justify-content: center;
}
body {
  font-family: 'Outfit', sans-serif;
}
.nav {
  background: #aaa;
  padding: 0;
  margin: 0;
  }
.nav ul {
  text-align: right;
}

.nav li {
  display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #fff;
  width: 100px;
  display: block;
  padding: 0;
  text-align: center;
}
.nav c {
  text-align: left;
  padding: 5px;
 
}
.title {
  text-align: left;
  padding: 5px;
}
  
  
a:hover {
  color: white;
}
.boxes {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dashboard {
  border: solid 1px black;
  height: 450px;
  width: 250px;
  padding: 20px 20px 40px 20px;
}
.budget {
  border: solid 1px black;
  height: 450px;
  width: 250px;
  padding: 20px 20px 40px 20px;
}
.checkbooks {
  border: solid 1px black;
  height: 450px;
  width: 250px;
  padding: 20px 20px 40px 20px;
}
.money {
  border: solid 1px black;
  height: 450px;
  width: 250px;
  padding: 20px 20px 40px 20px;
}
button {
  display: inline-block;
  width: 266px;
  height: 26px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
}
p {
  font-size: 12px;
}
 